:root {
  /* Raw Colors */
  --colors-brand-blue-1: #e8f1ff;
  --colors-brand-blue-2: #297bff;
  --colors-brand-blue-3: #1f62cf;

  --colors-black: #212121;
  --colors-white: #ffffff;

  --colors-gray-1: #fafafa;
  --colors-gray-2: #f5f5f5;
  --colors-gray-3: #6b7280;
  --colors-gray-4: #252525;

  --colors-green-1: #5bc57f;
  --colors-green-2: #1aa348;
  --colors-green-3: #168c3f;

  --colors-red-1: #f69494;
  --colors-red-2: #f26464;
  --colors-red-3: #ed3333;

  --colors-yellow-1: #fffcf5;
  --colors-yellow-2: #fff3de;
  --colors-yellow-3: #feebc3;

  /* Semantic Mapping*/
  --brand-primary: var(--colors-brand-blue-2);
  --brand-secondary: var(--colors-brand-blue-3);
  --info: var(--colors-brand-blue-3);

  --success: var(--colors-green-3);
  --error: var(--colors-red-3);
  --warning: var(--colors-yellow-3);
  --info: var(--colors-azure-3);

  --static-white: var(--colors-white);

  /* Text*/
  --color-body: var(--colors-black);
  --color-muted: var(--colors-gray-3);
  --input-placeholder-color: var(--color-muted);

  /* Backgrounds */
  --background-primary: var(--colors-white);
  --background-secondary: var(--colors-gray-2);
  --background-secondary-light: #fafafacc;
  --background-tertiary: var(--colors-gray-1);
  --background-blurred: #ffffffcc;

  --background-gradient: linear-gradient(
    300deg,
    rgba(41, 123, 255, 0.08) 0%,
    rgba(41, 123, 255, 0) 100%
  );

  /* Borders & Effects */
  --border: #e5e7eb;
  --disabled-opacity: 0.3;

  --focus-ring: color-mix(in srgb, var(--brand-primary) 30%, transparent);
}
