.text-brand-primary {
  color: var(--brand-primary);
}

.text-brand-secondary {
  color: var(--brand-secondary);
}

.text-error {
  color: var(--error);
}

.text-success {
  color: var(--success);
}

.text-info {
  color: var(--info);
}

.text-white {
  color: var(--static-white);
}

.text-muted {
  color: var(--color-muted);
}

.text-border {
  color: var(--border);
}
